---
export interface Props {
    image: string,     
    heading: string,   
    description: string, 
    link: string,      
    button: Button,
    isHorizontal: boolean
}

export interface Button {
    text: string,
    action: string,
}

const { image, heading, description, link, button, isHorizontal } = Astro.props;
---

<div class={isHorizontal ? 'card card-x' : 'card mb-2.5 card-y'}>
    <div class="image-wrapper">
        <img src={image}  alt="image" />
    </div>
    <div class={isHorizontal ? 'p-5 text-white bg-blue-900' : 'bg-white p-5 text-black max-h-[220px] min-h-[220px] relative'}>
        <h5 class="mb-2 text-2xl font-bold tracking-tight">{heading}</h5>
        <p class="mb-3 font-normal">{description}</p>
        <a href={link} class={isHorizontal ? 'inline-flex items-center px-3 py-2 text-sm font-medium text-center bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' : 'inline-flex items-center px-3 py-2 text-sm font-medium text-center absolute bottom-2.5'}>
            {button.text}
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>
